<div class="knob-outer" id="{{outerId}}">
    <div class="knob" id={{id}}>

        <jqxKnob 
        (onChange)="turnKnob($event)" 
        [value]="value" 
        [min]="0" 
        [max]="100" 
        [startAngle]="120" 
        [endAngle]="420"  
        [rotation]="'clockwise'" 
        [style]="style" 
        [marks]="marks" 
        [progressBar]="progressBar" 
        [pointer]="pointer"
        [height]=69 
        [width]=69>
        </jqxKnob>

    </div>
</div>
<div *ngIf="sFlow === 'true'" class="s-flow"></div>
<p [ngClass]="{'lower': lower === 'true'}" class="label">{{label}}</p>
<div *ngIf="lFlow === 'true'" class="l-flow"></div>