

<div *ngIf="patch">

  <script type="text/javascript">
    $(document).ready(function () {
        //Get all the previous connections
        var prevConnections = patch.modmatrix  != nil ? patch.modmatrix.html_safe : '[]';
        //and add them to the mod matrix
        jsPlumb.ready(function(){
            //remove all the old endpoints
            jsPlumb.deleteEveryEndpoint();
            //unbind the click to detach
            jsPlumb.unbind("click");
            jsPlumb.Defaults.Endpoint = "Dot";
            jsPlumb.Defaults.EndpointStyle = { fillStyle : "transparent" };
            jsPlumb.Defaults.Anchor = [.48, .15, 0, 0];
            jsPlumb.Defaults.PaintStyle = { lineWidth: 3, strokeStyle: "#ffa500" };
            jsPlumb.Defaults.endpointPaintStyle = { fillStyle: "blue", outlineColor: "black", outlineWidth: 1 };  
    
            for(var key in prevConnections){
                var selectedConnection = prevConnections[key];
                var modSource = selectedConnection.source;
                var modTarget = selectedConnection.target;
                //make connection
                jsPlumb.connect({source:modSource, target:modTarget, detachable:false });
            }
        });
    
        // Set the octave
        moveIndicator(patch.octave);
        $( "#octave-controls .prev, #octave-controls .next").unbind( "click" ).addClass('disabled');
        //stop them things from sliding
        $( ".toggle, .slider" ).slider( "option", "disabled", true );
        //Hide the save button
        $('#patch-reset').css('display', 'block');
        $('#patch-save, #intro-copy').hide();
    });
    </script>


  <h2>{{patch.title | uppercase}}</h2>
  <div><span>id: </span>{{patch.id}}</div>
  <div><span>sub_fifth: </span>{{patch.sub_fifth}}</div>
  <div><span>overtone: </span>{{patch.overtone}}</div>
  <div><span>triangle: </span>{{patch.triangle}}</div>
  <div><span>pattern: </span>{{patch.pattern}}</div>
  <div>
    <label for="patch-title">Patch title: </label>
    <input id="patch-title" [(ngModel)]="patch.title" placeholder="{{patch.title}}">
  </div>


    <div id="patch" class="group">
        <div class="row top group">
            <h1>MICROBRUTE <br/><span class="grey">Patches</span></h1>
        </div><!-- /Row-->
        <div class="row top">
            <div id="oscillator" class="section">
                <div class="title"><span>Oscillator</span></div>
                <div class="column first">
                  <knob (newValueEvent)="updateInfo($event)" name="sub_fifth" label="Sub &gt; Fifth" sFlow="true" lFlow="true" value="{{patch.sub_fifth}}"></knob>
                  <knob (newValueEvent)="updateInfo($event)" name="overtone" label="Overtone" lower="true" value="{{patch.overtone}}"></knob>
                </div>
                <div class="column">
                  <knob (newValueEvent)="updateInfo($event)" name="ultra_saw" label="Ultrasaw" sFlow="true" lFlow="true" value="{{patch.ultra_saw}}"></knob>
                  <knob (newValueEvent)="updateInfo($event)" name="saw" label="Saw" lower="true" value="{{patch.saw}}"></knob>
                </div>
                <div class="column">
                  <knob (newValueEvent)="updateInfo($event)" name="pulse_width" label="Pulse Width" sFlow="true" lFlow="true" value="{{patch.pulse_width}}"></knob>
                  <knob (newValueEvent)="updateValue('square', $event)" name="square" label="Square" lower="true" value="{{patch.square}}"></knob>
                </div>
                <div class="column">
                  <knob (newValueEvent)="updateInfo($event)" name="metalizer" label="Metalizer" sFlow="true" lFlow="true" value="{{patch.metalizer}}"></knob>
                  <knob (newValueEvent)="updateInfo($event)" name="triangle" label="Triangle" lower="true" value="{{patch.triangle}}"></knob>
                </div>
            </div>
            <!-- / Oscillator Section -->
            <!--Filter Section -->
            <div id="filter" class="section">
                <div class="title"><span>Filter</span></div>
                <div class="column first">
                  <knob (newValueEvent)="updateInfo($event)" name="cutoff" label="Cutoff" value="{{patch.cutoff}}"></knob>
                    <div class="toggle-wrap group">
                        <div class="col first">
                            <div class="toggle-outer" id="mode">
                                <div class="toggle" data-max="2"></div>
                                <input type="hidden" id="mode" class="toggle-input" value="{{patch.mode}}">
                                <!-- <%= f.hidden_field :mode, { class: "toggle-input", value: "#{@patch.mode}" } %> -->
                            </div>
                            <p class="label lower">Mode</p>
                        </div>
                        <div class="col labels">
                            <p>HP</p>
                            <p>BP</p>
                            <p>LP</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                  <knob (newValueEvent)="updateInfo($event)" name="resonance" label="Resonance" value="{{patch.resonance}}"></knob>
                  <knob (newValueEvent)="updateInfo($event)" name="env_amt" label="ENV Amt" lower="true" value="{{patch.env_amt}}"></knob>
                </div>
                <div class="column">
                  <knob (newValueEvent)="updateInfo($event)" name="brute_factor" label="Brute Factor" value="{{patch.brute_factor}}"></knob>
                  <knob (newValueEvent)="updateInfo($event)" name="kbd_tracking" label="KBD Tracking" lower="true" value="{{patch.kbd_tracking}}"></knob>
                </div>
            </div>
            <!-- /Filter Section -->
            <!-- Mod Matrix-->
            <div id="mod-matrix" class="section">
                <div class="title"><span>Mod Matrix</span></div>
                <div id="cv-out" class="cv"><p>CV Out</p></div>
                <div id="cv-in" class="cv"><p>CV In</p></div>
                <div id="patch-bay">
                    <div class="column first">
                        <div class="mod-outer"><p class="label lower">ENV</p></div>
                        <div class="mod-outer"><p class="label lower">LFO</p></div>
                    </div>
                    <div class="column">
                        <div class="mod-outer"><p class="label lower">Metal</p></div>
                        <div class="mod-outer"><p class="label lower">Pitch</p></div>
                    </div>
                    <div class="column">
                        <div class="mod-outer"><p class="label lower">Saw</p></div>
                        <div class="mod-outer"><p class="label lower">Filter</p></div>
                    </div>
                    <div class="column">
                        <div class="mod-outer"><p class="label lower">Sub</p></div>
                        <div class="mod-outer"><p class="label lower">PWM</p></div>
                    </div>
                    <div class="mod" id="mod-env"></div>
                    <div class="mod" id="mod-lfo"></div>
                    <div class="mod" id="mod-metal"></div>
                    <div class="mod" id="mod-pitch"></div>
                    <div class="mod" id="mod-saw"></div>
                    <div class="mod" id="mod-filter"></div>
                    <div class="mod" id="mod-sub"></div>
                    <div class="mod" id="mod-pwm"></div>
                </div>
            </div>
            <input type="hidden" id="modmatrix-input">
            <!-- /Mod Matrix-->
            <div id="octave" class="section">
                <div class="title"><span>Octave</span></div>
                <ul id="octave-indicators" class="group">
                    <li class="label" id="neg2">-2<div class="led"></div></li>
                    <li class="label" id="neg1">-1<div class="led"></div></li>
                    <li class="label" id="zero">0<div class="led"></div></li>
                    <li class="label" id="pos1">1<div class="led"></div></li>
                    <li class="label" id="pos2">-2<div class="led"></div></li>
                </ul>
                <input type="hidden" id="octave-input" value="{{patch.octave}}">
                <ul id="octave-controls" class="group">
                    <li class="prev">Previous</li>
                    <li class="next">Next</li>
                </ul>
            </div>
            <!-- /Octave -->
            <!-- Volume-->
            <div id="volume-region">
                <div class="column first">
                  <knob (newValueEvent)="updateInfo($event)" name="volume" label="Master Volume" value="{{patch.volume}}"></knob>
                </div>
            </div>
            <!-- /Volume-->
        </div><!-- /Row-->
        <div class="row">
            <!-- Controls-->
            <div id="controls" class="section">
                <div class="title"><span>Controls</span></div>
                <div class="column single">
                  <knob (newValueEvent)="updateInfo($event)" name="glide" label="Glide" lower="true" value="{{patch.glide}}"></knob>
                    <div class="toggle-wrap group">
                        <div class="col first">
                            <div class="toggle-outer" id="mod-wheel">
                                <div class="toggle" data-max="1"></div>
                                <input type="hidden" id="cutoff" class="toggle-input" value="{{patch.mod_wheel}}">
                            </div>
                            <p class="label lower">Mod Wheel</p>
                        </div>
                        <div class="col labels">
                            <p class="tall">LFO Amt</p>
                            <p>Cutoff</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Controls-->
            <!-- LFO-->
            <div id="lfo" class="section">
                <div class="title"><span>LFO</span></div>
                <div class="column first">
                  <knob (newValueEvent)="updateInfo($event)" name="amount" label="Amount" value="{{patch.amount}}"></knob>
                    <div class="toggle-wrap group">
                        <div class="col first">
                            <div class="toggle-outer" id="wave">
                                <div class="toggle toggle ui-slider ui-corner-all ui-slider-vertical ui-widget ui-widget-content" data-max="2"></div>
                                <input type="hidden" name="wave" id="wave" class="toggle-input" value="{{patch.wave}}">
                            </div>
                            <p class="label lower">Wave</p>
                        </div>
                        <div class="col labels">
                            <p>Sq</p>
                            <p>Saw</p>
                            <p>Tri</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                  <knob (newValueEvent)="updateInfo($event)" name="rate" label="Rate" value="{{patch.rate}}"></knob>
                    <div class="toggle-wrap group">
                        <div class="col first">
                            <div class="toggle-outer" id="sync">
                                <div class="toggle" data-max="1"></div>
                                <input type="hidden" id="sync" class="toggle-input" value="{{patch.sync}}">
                                <!-- <%= f.hidden_field :sync  , { class: "toggle-input", value: "#{@patch.sync}" }%> -->
                            </div>
                            <p class="label lower">Sync</p>
                        </div>
                        <div class="col labels">
                            <p class="tall">Seq</p>
                            <p>Free</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /LFO-->
            <!-- Envelope-->
            <div id="envelope" class="section">
                <div class="title"><span>Envelope</span></div>
                <div class="column first">
                  <knob (newValueEvent)="updateInfo($event)" name="env_amt_2" label="Env Amt" value="{{patch.env_amt_2}}"></knob>
                    <div class="toggle-wrap group">
                        <div class="col first">
                            <div class="toggle-outer" id="vca">
                                <div class="toggle" data-max="1"></div>
                                <input type="hidden" id="vca" class="toggle-input" value="{{patch.vca}}">
                                <!-- <%= f.hidden_field :vca  , { class: "toggle-input", value: "#{@patch.vca}" }%> -->
                            </div>
                            <p class="label lower">VCA</p>
                        </div>
                        <div class="col labels">
                            <p class="tall">Env</p>
                            <p>Gate</p>
                        </div>
                    </div>
                </div>
                <div class="column first-slide">
                    <div class="slider-wrap">
                        <div class="slider-outer" id="attack">
                            <div class="slider"></div>
                            <input type="hidden" id="attack" class="slider-input" value="{{patch.attack}}">
                            <!-- <%= f.hidden_field :attack  , { class: "slider-input", value: "#{@patch.attack}" }%> -->
                        </div>
                        <p class="label lower">Attack</p>
                    </div>
                </div>
                <div class="column">
                    <div class="slider-wrap">
                        <div class="slider-outer" id="decay">
                            <div class="slider"></div>
                            <input type="hidden" id="decay" class="slider-input" value="{{patch.decay}}">
                            <!-- <%= f.hidden_field :decay  , { class: "slider-input", value: "#{@patch.decay}" }%> -->
                        </div>
                        <p class="label lower">Decay</p>
                    </div>
                </div>
                <div class="column">
                    <div class="slider-wrap">
                        <div class="slider-outer" id="sustain">
                            <div class="slider"></div>
                            <input type="hidden" id="sustain" class="slider-input" value="{{patch.sustain}}">
                            <!-- <%= f.hidden_field :sustain  , { class: "slider-input", value: "#{@patch.sustain}" }%> -->
                        </div>
                        <p class="label lower">Sustain</p>
                    </div>
                </div>
                <div class="column">
                    <div class="slider-wrap">
                        <div class="slider-outer" id="release">
                            <div class="slider"></div>
                            <input type="hidden" id="release" class="slider-input" value="{{patch.release}}">
                            <!-- <%= f.hidden_field :release  , { class: "slider-input", value: "#{@patch.release}" }%> -->
                        </div>
                        <p class="label lower">Release</p>
                    </div>
                </div>
            </div>
            <!-- /Envelope-->
            <!-- LFO-->
            <div id="sequencer" class="section">
                <div class="title"><span>Sequencer</span></div>
                <div class="column first">
                  <knob (newValueEvent)="updateInfo($event)" max="7" name="pattern" label="Pattern" value="{{patch.pattern}}"></knob>
                    <div class="toggle-wrap group">
                        <div class="col first">
                            <div class="toggle-outer" id="play">
                                <div class="toggle" data-max="2"></div>
                                <input type="hidden" id="play" class="toggle-input" value="{{patch.play}}">
                                <!-- <%= f.hidden_field :play  , { class: "toggle-input", value: "#{@patch.play}" }%> -->
                            </div>
                            <p class="label lower">Play</p>
                        </div>
                        <div class="col labels">
                            <p>Play</p>
                            <p>Off</p>
                            <p>Record</p>
                        </div>
                    </div>
                </div>
                <div class="column">
                  <knob (newValueEvent)="updateInfo($event)" name="rate_2" label="Rate" value="{{patch.rate_2}}"></knob>
                </div>
            </div>
            <!-- /LFO-->
        </div><!-- /Row-->
    </div>
    <!-- /Patch-->
    <patch-info (patchInfoEvent)="updateInfo($event)" title="{{patch.title}}" description="{{patch.description}}" tags={{patch.tags}}></patch-info>

  </div>