<div id="meta-info">
    <input size="50" style="border: none;" id="title-text" [(ngModel)]="patch.title" placeholder="{{patch.title}}">
   <p><textarea rows="3" cols="100" style="border: none;" id="description-text" [(ngModel)]="patch.description" placeholder="{{patch.description}}"></textarea></p>

    <mat-form-field class="tag-list" appearance="fill">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of patch.tags" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(tag)" class="tag">
          {{tag}}
          <button matChipRemove *ngIf="removable">
            <mat-icon class="grey">cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="New tag..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)"
               style="font-family: monospace;">
      </mat-chip-list>
    </mat-form-field>

</div>