.center {
    position: absolute;
    left: 30%;
  }

label{
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    margin-bottom: 10px;
}
  
input {
    float: left;
}
  
button {
    margin-top: 10px;
}  