{{title}}

<div id="meta-info">
    <input (ngModelChange)="updateValue('title', title)" size="50" style="border: none;" id="title-text" [(ngModel)]="title" placeholder="{{title}}">
   <p><textarea (ngModelChange)="updateValue('description', description)" rows="3" cols="100" style="border: none;" id="description-text" [(ngModel)]="description" placeholder="{{description}}"></textarea></p>
    <p><input (ngModelChange)="updateValue('tags', tags)" style="border: none;" id="tag-text" [(ngModel)]="tags" placeholder="{{tags}}"></p>
</div>