<div id="octave" class="section">
    <div class="title"><span>Octave</span></div>
    <ul id="octave-indicators" class="group">
        <li class="label" id="neg2">-2<div class="led"></div>
        </li>
        <li class="label" id="neg1">-1<div class="led"></div>
        </li>
        <li class="label" id="zero">0<div class="led"></div>
        </li>
        <li class="label" id="pos1">1<div class="led"></div>
        </li>
        <li class="label" id="pos2">2<div class="led"></div>
        </li>
    </ul>
    <input type="hidden" id="octave-input" value="3">
    <ul id="octave-controls" class="group">
        <li class="prev">Previous</li>
        <li class="next">Next</li>
    </ul>
</div>