<div id="mod-matrix" class="section">
    <div class="title"><span>Mod Matrix</span></div>
    <div id="cv-out" class="cv">
        <p>CV Out</p>
    </div>
    <div id="cv-in" class="cv">
        <p>CV In</p>
    </div>
    <div id="patch-bay">
        <div class="column first">
            <div class="mod-outer">
                <p class="label lower">ENV</p>
            </div>
            <div class="mod-outer">
                <p class="label lower">LFO</p>
            </div>
        </div>
        <div class="column">
            <div class="mod-outer">
                <p class="label lower">Metal</p>
            </div>
            <div class="mod-outer">
                <p class="label lower">Pitch</p>
            </div>
        </div>
        <div class="column">
            <div class="mod-outer">
                <p class="label lower">Saw</p>
            </div>
            <div class="mod-outer">
                <p class="label lower">Filter</p>
            </div>
        </div>
        <div class="column">
            <div class="mod-outer">
                <p class="label lower">Sub</p>
            </div>
            <div class="mod-outer">
                <p class="label lower">PWM</p>
            </div>
        </div>
        <div class="mod" id="mod-env"></div>
        <div class="mod" id="mod-lfo"></div>
        <div class="mod" id="mod-metal"></div>
        <div class="mod" id="mod-pitch"></div>
        <div class="mod" id="mod-saw"></div>
        <div class="mod" id="mod-filter"></div>
        <div class="mod" id="mod-sub"></div>
        <div class="mod" id="mod-pwm"></div>
    </div>
    <input type="hidden" id="modmatrix-input" value="{{modInput}}">
</div>