<div class="slider-wrap">
    <div class="slider-outer" id="attack">
        <div class="slider">
            <jqxSlider (onChange)="moveSlider($event)" class="slider-input" [height]="177" [width]="50" [min]="0"
                [max]="100" [value]="patch[name]" [step]="1" [orientation]="'vertical'" [showTicks]="false"
                [showTickLabels]="false" [showButtons]="false" [tooltip]="false" [mode]="'fixed'">
            </jqxSlider>
        </div>
    </div>
    <p class="lower label">{{label}}</p>
</div>