<div class="toggle-outer" id="mode">
    <!-- <div class="toggle" data-max="2"></div> -->
    <jqxSlider (onChange)="moveSlider($event)" 
        class="toggle"
        [height]="63" [width]="32"
        [min]="0" [max]="1"
        [orientation]="'vertical'"
        [showTicks]="false"
        [showTickLabels]="false"
        [showButtons]="false"
        [tooltip]="false"
        [mode]="'fixed'"
        >
    </jqxSlider>
</div>
<p [ngClass]="{'lower': lower === 'true'}" class="label">{{label}}</p>