<div *ngIf="patch">
    <div id="patch" class="group">
        <div class="row top">
            <oscillator [patch]="patch"></oscillator>
            <filter [patch]="patch"></filter>
            <mod-matrix [patch]="patch"></mod-matrix>
            <octave [patch]="patch"></octave>
            <volume [patch]="patch"></volume>
        </div>
        <div class="row">
            <controls [patch]="patch"></controls>
            <lfo [patch]="patch"></lfo>
            <envelope [patch]="patch"></envelope>
            <sequencer [patch]="patch"></sequencer>
        </div>
    </div>
    <patch-info [patch]="patch"></patch-info>
    <button (click)="savePatch()" class="button">Save</button>
</div>