<div id="octave" class="section">
    <div class="title"><span>Octave</span></div>
    <ul id="octave-indicators" class="group">
        <li [ngClass]="{'active': value === 1}" class="label" id="neg2">-2<div class="led"></div>
        </li>
        <li [ngClass]="{'active': value === 2}" class="label" id="neg1">-1<div class="led"></div>
        </li>
        <li [ngClass]="{'active': value === 3}" class="label" id="zero">0<div class="led"></div>
        </li>
        <li [ngClass]="{'active': value === 4}" class="label" id="pos1">1<div class="led"></div>
        </li>
        <li [ngClass]="{'active': value === 5}" class="label" id="pos2">2<div class="led"></div>
        </li>
    </ul>
    <input [(ngModel)]="value" type="hidden" id="octave-input">
    <ul id="octave-controls" class="group">
        <li (click)="changeOctave('down')" class="prev">Previous</li>
        <li (click)="changeOctave('up')" class="next">Next</li>
    </ul>
</div>